{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Registration</title>
{% endblock %}

{% block content %}
<div class="container" style="background-color: #d0e0e3; padding: 30px;">
    <h1 style="text-align: center;"><u>RESISTER / SIGN UP</u></h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{form | crispy}}
        </table>
        <button type="submit" class="btn btn-outline-dark col-5">SIGN UP</button>
        <a href="{% url 'Sign_In' %}"><button type="button" class="btn btn-outline-dark col-5 float-end">SIGN
                IN</button></a>
    </form>
</div>
{% endblock %}